<div class="dashboard-container">
    <div class="profile">
      <h1 class="text-center">Most Popular Tweets For The Day!</h1>
    </div>
    <div class="tweet">
      <% if @popular.empty? %>
        <h3 class="text-center">There are currently no new tweet for today yet.</h3>
      <% else %>
        <%= render partial: "partials/tweets", locals: { tweets: @popular } %>
      <% end %>
    </div>
</div>
