<div class="notifications">
  <% @notifications.each do |notification| %>
    <div class="notification-container">
      <% if notification.read == 0 %>
        <h6 class="text-center">New</h6>
      <% end %>
      <h4 class="text-center"><%= notification.body %></h4>
    </div>
  <% end %>
</div>
