<div class="dashboard-container">
  <div class="profile">
    <%= render partial: "partials/profile", locals: { user: @user } %>
  </div>
  <div class="tweet">
    <h3>Tweets</h3>
    <%= render partial: "partials/tweets", locals: { tweets: @tweets } %>
  </div>
</div>
